
.flex-col {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.flex-row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.App {
  width: 100%;
  overflow: hidden;
}